
.card0 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

.logo0 {
    width: 70vh;
    height: 70vh;
}

