
.card1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-size: 210%;
    width: 23%;
    height: 23%;
    text-align: center;
    background: rgb(18, 16, 18);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 1vh;
    margin: 10px; /* Espaçamento entre os cards */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%; /* Contêiner ocupa toda a largura */
    display: flex; /* Usa Flexbox */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Alinha os itens no centro de cada linha */
    align-items: flex-start; /* Alinha os itens no início verticalmente */
    gap: 10px; /* Espaçamento entre os itens */
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total */
}

